// 动画
/* 动画：关键帧规则 */
@keyframes moveInLeft {
  0% {
    /* 设置不透明度，0表示隐藏 */
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    /* 设置不透明度，0表示隐藏 */
    opacity: 0;
    transform: translateX(10rem);
  }

  /* 60% {
          rotate 设置渲染
          transform: rotate(180deg) ;
      } */

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
