// 排版

/* 字体 font-family 会被子元素继承 */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  color: $color-white;
  /* 将单词全部大写 */
  text-transform: uppercase;

  /* 旋转的时候背面是否可见 */
  /* backface-visibility: hidden; */
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    /* 使用动画 */
    animation-name: moveInLeft;
    /* 设置动画执行时长 */
    animation-duration: 1s;

    /* 定义动画执行阶段的功能：ease-out 缓慢出 east-in 缓进 */
    animation-timing-function: ease-out;

    /* 动画计数: 动画执行的次数*/
    /* animation-iteration-count: 3; */

    /* 设置动画执行的延迟：多少秒后执行 */
    /* animation-delay: 3s; */

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;

    animation: moveInRight 1s ease-out;
    /* animation-name: moveInRight;
          animation-duration: 1s;
      
          animation-timing-function: ease-out; */

    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;

  color: $color-primary-light;

  // 特征查询
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    // 背景剪辑, 减去除文字以外的背景
    background-clip: text;
    -webkit-background-clip: text;
    // 文字透明
    color: transparent;
  }

  letter-spacing: 0.2rem;
  transition: all 0.2s;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    // skew 定义在二维平面上指定的倾斜角度 scale
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
